<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>usuario Yape</title>
  <link rel="stylesheet" type="text/css" href="/info/materialize-css/dist/css/materialize.min.css">
  <link href="../info/css/style.css" rel="stylesheet" />
</head>

<body>
  <section class="container">
    <section class="row">
      <section class="col s12">
        <div class="center-align">
          <img src="../img/icons/lockone.png" alt="lockone" class="responsi">
        </div>
      </section>
      <section class="col s10 offset-s1">
        <h1 class="center-align">Crea tu usuario Yape</h1>
        <h5 class="center-align texto-gris-claro">Ingresa tu nombre, email y clave de usuario</h5>
      </section>
    </section>
  </section>
  <section class="container">
    <section class="row">
      <form action="#" class="col s12 offset-4">
        <p>
          <img src="../img/icons/user.png" alt="user" style="height:30px">
          <input type="text" name="name" placeholder="Nombre" class="center-align">
        </p>
        <p>
          <img src="../img/icons/message-gray.png" alt="message" style="height:30px">
          <input type="email" name="mail" placeholder="correo@ejemplo.com" class="center-align">
        </p>
        <p>
          <img src="../img/icons/lock.png" alt="lock" style="height:30px">
          <input type="password" name="pass" placeholder="Ingresa clave de 6 dígitos" class="center-align">
        </p>
      </form>
      <h5 class="center-align texto-gris">Cuida esta clave como oro, es tu acceso a Yape.</h5>
    </section>
  </section>
  <section class="container">
    <section class="row">
      <section class="center-align">
        <button type="button" name="button" class="boton--continuar" disabled id="cuenta"><a href="usuarioYape.html">CREAR CUENTA</a></button>
      </section>

    </section>

  </section>


  <script src="/info/jquery/dist/jquery.min.js"></script>
  <script src="/info/materialize-css/dist/js/materialize.min.js"></script>
  <script src="../info/js/yape.js"></script>
</body>

</html>
