<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>validación</title>
  <link rel="stylesheet" type="text/css" href="/info/materialize-css/dist/css/materialize.min.css">
  <link href="../info/css/style.css" rel="stylesheet" />
</head>

<body>
  <section class="container">
    <section class="row">
      <section class="col s12">
        <div class="center-align">
          <img src="../img/icons/lockone.png" alt="lockone" class="responsi">
        </div>
      </section>
      <section class="col s10 offset-s1">
        <h1 class="center-align">Para comenzar validemos tu número</h1>
        <h5 class="center-align texto-gris-claro">Recibirás un SMS con un código de validación</h5>
      </section>
      <section class="col s12 input-field">
        <div class="input-field col s12">
          <input id="icon_telephone" type="number" class="numeroTel">
          <label for="icon_telephone"><img src="../img/icons/phoneandnumber.png" alt="Phone Number" class="responsive-image"></label>
        </div>
      </section>
    </section>
  </section>
  <section class="container">
    <section class="row">
      <form action="#" class="col s12 offset-4">
        <p>
          <input type="checkbox" id="test5" class="box"/>
          <label for="test5">Acepto los <a href="#">Términos y condiciones.</a></label>
        </p>
      </form>
    </section>
  </section>
  <section class="container">
    <section class="row">
      <section class="center-align">
        <button type="button" name="button" class="boton--continuar" disabled id="agregar">Continuar</button>
      </section>

    </section>

  </section>


  <script src="/info/jquery/dist/jquery.min.js"></script>
  <script src="/info/materialize-css/dist/js/materialize.min.js"></script>
  <script src="../info/js/yape.js"></script>
</body>

</html>
