@import "variables";

div{
  width: 100%;
}
div>img{
  max-width: 100%;
  margin-top: 20px;

}

.boton{
  background-color: $amarillo-botones;
  padding: 15px;
  margin-top: 10%;
  font-size: 10px;
  color: white;
  font-size: 15px;
}

.boton--registro{
  @extend .boton;
  width: 60%;
  a{
    color: white
  }
}

.boton--continuar{
  @extend .boton;
  width: 50%
}

.texto-gris{
  color:$Gris-letra-soft;
}

.texto-gris-claro{
  @extend .texto-gris;
  margin-top: 20px;
  margin-bottom: 60px;
}

.letra-form{
  font-size: $letra-form;
}
